.form {
	transition: all 1s;
	font-size: 1.2em;
}
.form label {
	display: block;
	margin-top: 1.0em;
}
.form input {
	border: 4px solid gray;
	border-radius: 4px;
	padding: 0.2em 0.4em;
	font-size: 0.9em;
}
.form .valid {
	border-color: green;
}
.form .invalid {
	border-color: red;
}
.invisible {
	visibility: hidden;
}
.form {
	background-color: #ECEADE;
	padding: 1em;
}
.form .error {
	color: #E34343;
}
.form button {
	font-size: 1.1em;
	padding: 0.2em 1em;
	margin-top: 1em;
	border-radius: 4px;
}
.form button:hover {
	cursor: pointer;
}